{% extends "../base.html" %}

{% block content %}
{% load static %}

<div class="topTitle">
    <div class="mb">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">帳號:</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput2" class="form-label">密碼:</label>
            <input type="password" class="form-control" id="exampleFormControlInput2" placeholder="abc12345">
        </div>
        <div class="buttons" style="text-align: center;">
            <button type="button" class="btn btn-primary signup-btn">加入以獲取最新筆記</button>
        </div>
    </div>
</div>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/academy">首頁</a></li>
        <li class="breadcrumb-item">學院</li>
    </ol>
</nav>

<div class="row">
    <div class="col-4">
        <a href="#">
            <img src="{% static 'images/bank.png' %}" width="330" class="shadow-1-strong rounded mb-4" alt="" />
        </a>
    </div>

    <div class="col-lg-4">
        <img src="{% static 'images/excavator.png' %}" width="330" class="shadow-1-strong rounded mb-4" alt="" />
    </div>

    <div class="col-lg-4">
        <img src="{% static 'images/language.png' %}" width="330" class="shadow-1-strong rounded mb-4" alt="" />
    </div>
</div>
<div class="row">
    <div class="col-4">
        <a href="/computer">
            <img src="{% static 'images/computer.png' %}" width="330" class="shadow-1-strong rounded mb-4"
                alt="Wintry Mountain Landscape" />
        </a>
    </div>
    <div class="col-4">
        <a href="/">
            <img src="{% static 'images/financial-profit.png' %}" width="330" class="shadow-1-strong rounded mb-4"
                alt="" />
        </a>
    </div>
    <div class="col-4">
        <img src="{% static 'images/tools.png' %}" width="330" class="shadow-1-strong rounded mb-4" alt="" />
    </div>
</div>

{% endblock %}